@use "../variables" as v;
@use "../mixins" as m;

.btn {
  display: inline-flex;
  padding: 10px 20px;
  text-transform: uppercase;

  color: v.$color-default-white;

  background-color: v.$color-deep-sky-blue;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  transition: opacity v.$trans-default;

  user-select: none;

  &--red {
    background-color: v.$color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  //@include hover-focus {
  //  opacity: 0.8;
  //}

  @include m.hover {
    opacity: 0.6;
  }

  @include m.active {
    opacity: 0.3;
  }
}
