@use "../variables" as v;
@use "../mixins" as m;

.catalog {
  background-color: v.$color-black-pearl;
}

.catalog__container {
  max-width: 1220px;
  padding: 66px 0 140px;

  @include m.vp-1279 {
    padding: 66px 25px 140px;
  }

  @include m.vp-1023 {
    padding-top: 54px;
    padding-bottom: 75px;
  }

  @include m.vp-767 {
    padding: 46px 25px 86px;
  }
}

.catalog__container h2 {
  font-family: v.$ff-title;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  color: v.$color-default-white;
  margin: 0 auto;

  @include m.vp-1023 {
    max-width: 670px;
  }

  @include m.vp-767 {
    font-size: 28px;
    line-height: 39px;
  }
}

h2[data-catalog-title-text-mobile]::before {
  content: "";

  @include m.vp-767 {
    content: attr(data-catalog-title-text-mobile);
  }
}

h2[data-catalog-title-text]::after {
  content: attr(data-catalog-title-text);

  @include m.vp-767 {
    content: "";
  }
}

.catalog__container ul {
  list-style-type: none;
  padding-left: 0;
  margin: 54px auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  grid-template-rows: auto;
  gap: 7%;

  @include m.vp-1023 {
    grid-template-columns: minmax(10px, 1fr);
    gap: 30px;
    max-width: 670px;
    margin-top: 39px;
  }

  @include m.vp-767 {
    margin-top: 29px;
  }
}

.catalog__item {
  position: relative;
  min-height: 650px;
  justify-self: center;
  transition: box-shadow v.$trans-default;
  width: 100%;
  max-width: 100%;

  @include m.vp-1023 {
    min-height: 250px;
  }

  @include m.vp-767 {
    width: 100%;
  }
}

.catalog__item:hover {
  box-shadow: 4px 4px 8px 0 rgba(255, 255, 255, 0.2),
    -4px -4px 8px 0 rgba(255, 255, 255, 0.2);
}

.catalog__item a {
  display: block;
  color: v.$color-default-white;
  height: 100%;
}

// Img filter
.catalog__item a::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(4, 24, 39, 0.5);
}

// Btn
.catalog__item a::after {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: v.$color-deep-sky-blue;
  background-image: url("data:image/svg+xml,%3Csvg width='5' height='10' viewBox='0 0 5 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.476196 8.80957L4.28572 5.00005L0.476196 1.19052' stroke='white' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px 0 0 0;
  transition: opacity v.$trans-default;

  @include m.vp-767 {
    width: 40px;
    height: 40px;
  }
}

.catalog__item:hover a::after {
  opacity: 0.6;
}

.catalog__item img {
  object-fit: cover;
  height: 100%;

  width: 100%;
  max-width: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  @include m.vp-1023 {
    max-height: 100%;
  }
}

.catalog__item span {
  position: relative;
  z-index: 2;
  font-family: v.$ff-title;
  font-size: 20px;
  line-height: 30px;
  display: inline-block;
  padding: 46px 10px 50px 40px;
  max-height: 570px;

  @include m.vp-1023 {
    padding: 36px 10px 75px 45px;
    max-height: unset;
  }

  @include m.vp-767 {
    padding: 27px 10px 75px 30px;
    font-size: 18px;
  }
}
