@use "../variables" as v;
@use "../mixins" as m;

.contacts {
  list-style-type: none;
  padding: 12px 0 20px;
  margin: 0;


  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: flex-start;
  gap: 4px 36px;

  font-family: v.$ff-text;

  @include m.vp-1023 {
    gap: 20px;
    padding-top: 0;
  }

  @include m.vp-767 {
    margin-top: -4px;
  }
}

.contacts__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  a {
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: opacity v.$trans-default;

    @include m.vp-1023 {
      padding: 10px;
    }

    @include m.hover-focus {
      opacity: 0.6;
    }
  }

  svg {
    color: v.$color-deep-sky-blue;
    min-width: 20px;
  }

  span {
    @include m.vp-1023 {
      display: none;
    }
  }
}
