@use "../variables" as v;
@use "../mixins" as m;

.contacts {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 26%;
  font-family: v.$ff-text;

  @include m.vp-1023 {
    gap: 20px;
  }

  @include m.vp-767 {
    margin-top: -4px;
  }
}

.contacts__item svg {
  color: v.$color-deep-sky-blue;
  min-width: 20px;
}

.contacts__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.contacts__item a {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: opacity v.$trans-default;

  @include m.vp-1023 {
    padding: 10px;
  }

  @include m.hover-focus {
    opacity: 0.6;
  }
}
