@use "../variables" as v;
@use "../mixins" as m;

.footer {
  background-color: v.$color-black-pearl;
}

.footer__container {
  min-height: 280px;
  color: v.$color-footer-text;
  display: grid;
  grid-template-columns: minmax(10px, 345px) minmax(10px, 470px) minmax(10px, 345px);
  gap: 30px;
  place-content: center;

  @include m.vp-1023 {
    grid-template-columns: minmax(10px, 1fr);
    padding: 50px 6% 50px 6.49%;
    gap: 30px 0;
  }

  @include m.vp-767 {
    display: flex;
    flex-direction: column;
    padding: 16px 25px 35px;
    gap: 0;
  }
}

.footer__column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  padding-left: 0;
  margin: 0;
  position: relative;

  @include m.vp-1023 {
    gap: 20px;
  }

  @include m.vp-767 {
    gap: 0;
    padding: 20px 0;
  }
}

.footer__column::before {
  @include m.vp-767 {
    content: "";
    position: absolute;
    bottom: 0;
    left: -25px; // container's padding
    right: -25px;
    height: 1px;
    background-color: v.$color-footer-separator;
  }
}

.footer__column--socials {
  justify-self: start;

  @include m.vp-1023 {
    grid-column: span 2;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  @include m.vp-767 {
    flex-direction: column;
    padding-bottom: 25px;
  }
}

.footer__column--accordion {
  @include m.vp-1023 {
    max-width: 324px;
  }

  @include m.vp-767 {
    //padding-bottom: 24px;
    padding: 22px 0 20px;
    max-width: 100%;
  }
}


.footer__logo-link {
  align-self: center;
  transition: opacity v.$trans-default;

  @include m.hover {
    opacity: 0.6;
  }
}

.footer__socials-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: flex-start;
  justify-content: center;
  list-style-type: none;
  padding-left: 10px;
  margin: 0;
  gap: 15px;

  @include m.vp-1023 {
    padding-top: 5px;
  }

  @include m.vp-767 {
    align-self: center;
    padding-top: 9px;
    padding-left: 4px;
  }
}

.footer__socials-link {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: v.$color-socials-icon;
  transition: color v.$trans-default, opacity v.$trans-default;

  @include m.hover {
    opacity: 0.6;
    color: v.$color-deep-sky-blue;
  }

  &:active {
    opacity: 1;
  }
}

.footer__lists-wrapper {
  display: grid;
  grid-template-columns: minmax(10px, 1fr) minmax(10px, 1fr);
  gap: 30px;
  padding-left: 3px;

  @include m.vp-1023 {
    grid-template-columns: minmax(10px, 1fr);
    gap: 6px;
    padding-left: 0;
  }

  @include m.vp-767 {
    width: 100%;
    gap: 10px;
  }
}

.footer__lists-wrapper--contacts {
  display: flex;
}

.footer__column h2 {
  color: v.$color-default-white;
  font-family: v.$ff-title;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  margin: 0;
  user-select: none;
  transition: opacity v.$trans-default;

  @include m.vp-767 {
    width: 100%;
    cursor: pointer;

    &::before,
    &::after {
      background-color: v.$color-footer-accordion-button;
      content: "";
      position: absolute;
      right: 8px;
      top: 20px;
      width: 1px;
      height: 15px;
      transition: transform v.$trans-default;
    }

    &::before {
      transform: rotate(90deg);
    }

    @include m.hover {
      opacity: 0.6;
    }
  }
}

.is-active h2 {
  @include m.vp-767 {
    &::after {
      transform: rotate(90deg);
    }
  }
}

.footer__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;

  @include m.vp-767 {
    width: 100%;
  }
}

.footer__list--padding {
  @include m.vp-767 {
    padding-top: 20px;
  }
}

.footer__list-item {
  @include m.vp-767 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer__list-item:not(:last-child) {
  margin-bottom: 6px;

  @include m.vp-767 {
    margin-bottom: 10px;
  }
}

.footer__link {
  color: inherit;
  font-family: v.$ff-text;
  font-size: 16px;
  line-height: 20px;
  transition: opacity v.$trans-default;

  @include m.hover {
    opacity: 0.6;
  }

  @include m.vp-767 {
    font-size: 14px;
    line-height: 19px;
    width: 100%;
  }
}
