@use "../variables" as v;
@use "../mixins" as m;

.form {
  position: relative;
  z-index: 1;
  background-color: v.$color-deep-sky-blue;
  color: v.$color-default-white;

  div,
  span {
    position: relative;
  }
}

.form::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 116 100'%3E%3Cpolygon points='0 0, 115.6 0, 0 100' fill='%2523041827' fill-opacity='0.5'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

  @include m.vp-1023 {
    opacity: 0;
  }
}

.form__container {
  display: flex;
  justify-content: space-between;
  max-width: 1310px;
  padding: 165px 2.85% 250px 2.3%;
  gap: 5%;

  @include m.vp-1023 {
    justify-content: center;
    padding: 44px 50px 125px;
  }

  @include m.vp-767 {
    padding: 47px 25px 87px;
  }
}

.form__img-wrapper {
  padding-top: 80px;

  @include m.vp-1023 {
    display: none;
  }
}

.form form {
  min-width: 580px;
  max-width: 580px;
  display: grid;
  grid-template-columns: repeat(2, minmax(10px, 1fr));
  gap: 20px 26px;

  @include m.vp-1023 {
    width: 100%;
    max-width: unset;
  }

  @include m.vp-767 {
    min-width: unset;
    grid-template-columns: minmax(10px, 1fr);
  }
}

.form h2 {
  font-family: v.$ff-title;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
  grid-column: span 2;

  @include m.vp-767 {
    font-size: 30px;
    line-height: 42px;
    grid-column: span 1;
  }
}

.form p {
  margin: -10px 0 15px;
  font-family: v.$ff-text;
  font-size: 16px;
  line-height: 22px;
  grid-column: span 2;

  @include m.vp-1023 {
    margin-bottom: 2px;
  }

  @include m.vp-767 {
    font-size: 14px;
    line-height: 19px;
    margin: -10px 0 11px;
    grid-column: span 1;
  }
}

.form span {
  grid-column: span 2;

  @include m.vp-767 {
    grid-column: span 1;
  }
}

.form input[type="text"],
.form input[type="tel"],
.form input[type="email"],
.form textarea {
  background-color: rgba(4, 20, 39, 0.15);
  border: 2px solid transparent;
  border-radius: 3px;
  padding: 10px 15px 15px;
  font-family: v.$ff-text;
  font-size: 16px;
  line-height: 22px;
  color: v.$color-default-white;
  font-weight: 600;
  width: 100%;
  transition: border v.$trans-default;
}

.form input[type="text"]:hover,
.form input[type="tel"]:hover,
.form input[type="email"]:hover,
.form textarea:hover {
  border: 2px solid v.$color-alice-blue;
}

.form textarea {
  padding: 25px 15px;
  min-height: 155px;

  @include m.vp-767 {
    min-height: 180px;
  }
}

.form input::placeholder,
.form textarea::placeholder {
  font-family: v.$ff-text;
  font-size: 16px;
  line-height: 22px;
  color: v.$color-default-white;
  opacity: 0.7;
}

.form__btn {
  background-color: v.$color-black-pearl;
  border-radius: 3px;
  font-family: v.$ff-title;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  font-weight: 700;
  padding: 14px 25px 12px;
  min-width: 265px;
  display: flex;
  justify-content: center;
  align-self: center;
  max-width: 265px;
  margin-top: 10px;

  @include m.vp-767 {
    min-width: 100%;
    max-width: unset;
    margin-top: 4px;
  }
}

.checkbox--form {
  margin-left: 12px;
  order: 1;

  @include m.vp-1023 {
    margin: 0 0 2px 2px;
    align-self: flex-end;
    justify-self: flex-start;
  }

  @include m.vp-767 {
    margin: 4px 0 0;
    padding-left: 5px;
  }
}

// Валидация

.is-invalid > input[type="text"],
.is-invalid > input[type="tel"],
.is-invalid > input {
  border-color: v.$color-torch-red;
}

.is-invalid > span {
  color: v.$color-torch-red;
  font-weight: 600;
}

.is-invalid > .input-message {
  position: absolute;
  left: 17px;
  bottom: -22px;
  color: v.$color-default-black;
  font-weight: 400;
  font-size: 14px;
}
