@use "../variables" as v;
@use "../mixins" as m;

.header {
  position: sticky;
  top: 0;
  z-index: 5;
  background: v.$blue-to-bottom;
  color: v.$color-default-white;

  @include m.vp-1023 {
    position: static;
  }
}

.header__container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-top: 30px;
  min-height: 120px;

  @include m.vp-1023 {
    min-height: 100px;
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 70px;
  }

  @include m.vp-374 {
    min-height: 70px;
    padding-left: 26px;
    padding-top: 15px;
    padding-right: 35px;
  }
}

.header__nav {
  display: grid;
  grid-template-columns: 215px max-content max-content;
  gap: 12%;
  width: 100%;
  place-content: center;

  @include m.vp-1023 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.header__logo-link {
  align-self: center;

  @include m.hover {
    opacity: 0.8;
  }
}

.header__btn {
  background-color: v.$color-transparent;
  padding: 10px 15px;
  border: 1px solid #f2f5f7;
  letter-spacing: 0.05em;
  font-size: 14px;
  line-height: 16px;
  height: fit-content;
  width: fit-content;
  align-self: center;
  font-family: v.$ff-title;
  font-weight: 700;
}
