@use "../variables" as v;
@use "../mixins" as m;

.header {
  position: sticky;
  top: 0;
  z-index: 5;
  background: v.$blue-to-bottom;
  color: v.$color-default-white;

  @include m.vp-1023 {
    position: static;
  }
}

.header__container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-top: 30px;
  min-height: 120px;

  @include m.vp-1023 {
    min-height: 100px;
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 70px;
  }

  @include m.vp-374 {
    min-height: 70px;
    padding-left: 26px;
    padding-top: 15px;
    padding-right: 35px;
  }
}

.header__nav {
  display: grid;
  grid-template-columns: 215px minmax(10px, 462px) minmax(10px, 160px);
  gap: 10.55%;
  width: 100%;
  margin-left: 16.85%;

  @include m.vp-1023 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: unset;
  }
}

.header__logo-link {
  align-self: center;
  transition: opacity v.$trans-default;
  margin-right: 100%;

  @include m.hover {
    opacity: 0.6;
  }

  @include m.vp-1023 {
    margin-right: unset;
  }
}

.header__btn {
  background-color: v.$color-transparent;
  padding: 10px 15px 12px;
  border: 1px solid #f2f5f7;
  letter-spacing: 0.06em;
  font-size: 14px;
  line-height: 16px;
  align-self: center;
  font-family: v.$ff-title;
  font-weight: 700;
}
