@use "../variables" as v;
@use "../mixins" as m;

.hero {
  position: relative;

  margin-top: -120px;
  padding-top: 300px;
  padding-left: 24.74%;
  padding-bottom: 20px;
  min-height: 880px;

  color: v.$color-alice-blue;

  @include m.vp-1439 {
    padding-left: 100px;
  }

  @include m.vp-1023 {
    padding: 198px 50px 20px;
    min-height: 660px;
  }

  @include m.vp-767 {
    padding: 198px 25px 20px;
    min-height: 610px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: v.$black-to-bottom;
  }

  img {
    object-fit: cover;

    height: 100%;
    width: 100%;
  }

  h1 {
    margin: 0;

    font-family: v.$ff-title;
    font-size: v.$fz-h1-default;
    line-height: v.$flh-h1;
    letter-spacing: 0.08em;

    user-select: none;

    text-transform: uppercase;

    @include m.vp-1023 {
      font-size: v.$fz-h1-tablet;
    }

    @include m.vp-767 {
      font-size: v.$fz-h1-mobile;
    }
  }
}

.hero__bg {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: v.$color-black-pearl;
}

.hero__text-wrapper {
  position: relative;
  top: 0;
  z-index: 3;

  display: grid;
  grid-template-columns: 1fr;
  justify-content: flex-start;
  gap: 36px;

  padding: 0;

  @include m.vp-1023 {
    gap: 4px;
  }

  @include m.vp-767 {
    gap: 10px;
  }

  & > p {
    margin: 0;

    font-size: v.$fz-text-hero;
    line-height: v.$lh-text-hero;

    user-select: none;

    @include m.vp-1023 {
      font-size: v.$fz-text-hero-tablet;
    }

    @include m.vp-767 {
      font-size: v.$fz-text-hero-mobile;
    }
  }

  br {
    @media (max-width: v.$vp-1024) {
      display: none;
    }
  }
}

.hero__btn {
  margin-top: 11px;
  padding: 16px 25px;
  height: fit-content;
  width: fit-content;

  font-size: 18px;

  @include m.vp-1023 {
    margin-top: 52px;
    margin-left: 45px;
  }

  @include m.vp-767 {
    margin-top: 36px;
    margin-left: 0;
    padding: 12px 30px;
    width: 100%;

    font-size: v.$fz-btn;
  }
}

.hero__btn[data-hero-btn-text-mobile]::before {
  content: "";

  @include m.vp-767 {
    content: attr(data-hero-btn-text-mobile);
  }
}

.hero__btn[data-hero-btn-text]::after {
  content: attr(data-hero-btn-text);

  @include m.vp-767 {
    content: "";
  }
}
