@use "../variables" as v;
@use "../mixins" as m;

.hero {
  position: relative;
  margin-top: -120px;
  padding-top: 305px;
  padding-left: 475px;
  min-height: 880px;
  color: v.$color-alice-blue;

  @include m.vp-1023 {
    min-height: 640px;
    padding-top: 180px;
    padding-left: 50px;
  }

  @include m.vp-767 {
    min-height: 560px;
    padding-top: 150px;
    padding-left: 24px;
  }
}

.hero::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: v.$black-to-bottom;
}

.hero__bg {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: v.$color-black-pearl;
}

.hero img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hero__text-wrapper {
  position: relative;
  top: 0;
  z-index: 3;
  display: grid;
  grid-template-columns: 1fr;
  //grid-template-rows: repeat(auto-fill, auto);
  justify-content: start;
  gap: 40px;
}

.hero h1 {
  margin: 0;
  font-family: v.$ff-title;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  font-weight: 700;
  user-select: none;

  @include m.vp-1023 {
    font-size: 64px;
    line-height: 75px;
  }

  @include m.vp-767 {
    font-size: 36px;
    line-height: 42px;
  }
}

.hero p {
  margin: 0;
  font-size: 22px;
  line-height: 34px;
  font-family: v.$ff-text;
  user-select: none;

  @include m.vp-767 {
    font-size: 14px;
    line-height: 22px;
  }
}

.hero__btn {
  height: fit-content;
  width: fit-content;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  padding: 15px 25px;
  font-family: v.$ff-title;
  font-weight: 700;

  @include m.vp-1023 {
    margin-left: 45px;
  }


  @include m.vp-767 {
    font-size: 14px;
    line-height: 16px;
    padding: 10px 30px;
    margin-left: 0;
  }
}
