// Переключатели видимости элементов под разные устройства
@use "../variables" as v;
@use "../mixins" as m;

@media (max-width: v.$vp-768) {
  .visibility-tablet,
  .visibility-desktop {
    display: none;
  }
}

@media (min-width: v.$vp-768) {
  .visibility-mobile,
  .visibility-desktop {
    display: none;
  }

  .visibility-tablet {
    display: block;
  }
}

@media (min-width: v.$vp-1024 - 1) {
  .visibility-mobile,
  .visibility-tablet {
    display: none;
  }

  .visibility-desktop {
    display: block;
  }
}
