// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-default-red:                 #ff0000;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-neon-blue:                   #2c39f2;
$color-torch-red:                   #ff1553;
$color-deep-sky-blue:               #00b2ff;
$color-alice-blue:                  #f2f5f6;
$color-black-pearl:                 #041827;
$color-features-border:             #ebebeb;
$color-footer-text:                 rgba(255, 255, 255, 0.7);
$color-footer-separator:            rgba(248, 253, 255, 0.7);
$color-socials-icon:                #f8fdff;
$color-footer-accordion-button:     #c4c4c4;
$color-modal-bg:                    rgba(3, 16, 27, 0.7);

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);
$black-to-bottom:                   linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
$blue-to-bottom:                    linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);


// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;
$fz-default-tablet:                 $fz-default;
$fz-default-mobile:                 $fz-default*0.875;
$lh-default:                        135%;

$fz-text-hero:                      $fz-default*1.375;
$fz-text-hero-tablet:               $fz-text-hero;
$fz-text-hero-mobile:               $fz-default-mobile;
$lh-text-hero:                      $lh-default*1.15;

$fz-text-catalog:                   $fz-default + 4;
$fz-text-catalog-tablet:            $fz-text-catalog;
$fz-text-catalog-mobile:            $fz-text-catalog + 2;
$lh-text-catalog:                   $lh-default - 7;
$lh-text-catalog-mobile:            $lh-default + 7;

$fz-h1-default:                     80px;
$fz-h1-tablet:                      $fz-h1-default*0.8;
$fz-h1-mobile:                      $fz-h1-default*0.45;
$flh-h1:                            $lh-default - 18;

$fz-h2-default:                     36px;
$fz-h2-tablet:                      $fz-h2-default;
$fz-h2-mobile:                      $fz-h2-default*0.8;
$lh-h2:                             $lh-default + 5;
$fw-h2:                             400;

$fz-h3-default:                     24px;
$fz-h3-tablet:                      $fz-h3-default;
$fz-h3-mobile:                      $fz-h3-default*0.83;
$lh-h3:                             $lh-default + 5;
$fw-h3:                             400;

$fz-h2-footer:                     15px;
$lh-h2-footer:                     16px;

$fz-btn:                           14px;
$lh-btn:                           117%;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-text:                           "PT Mono", "Lucida Console", monospace;
$ff-title:                          "Roboto Condensed", "Arial", sans-serif;
$ff-roboto:                         "Roboto", "Arial", sans-serif;

$ff-rouble:                         "Rouble", "Arial", sans-serif;
$ff-placeholder:                    "Placeholder", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
